

<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="style.css">
  <!-- <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" /> -->
  <title> Ella's To Do List</title>
</head>
<body>
	<%= yield %>
</body>
</html>