
<h1>Users</h1>

 <% @users.each do |user| %>  
   <span title="See this user's to do list"><a href='/<%= user.id %>'><%= user.name %></a></span>
   <% unless user.name.blank? %> 
   <a style="text-decoration: none" href='/delete_user/<%= user.id %>'><button class="button"> Delete User </button> </a> <br><br><% end %>
  <% end %> 
 
<br><br>
<form action="/new_user" method='POST'>
  <input type='text' name='name' placeholder='Create New Username' />
  <input type='submit' value='Save'/>
</form>
