
html {
	min-height: 100%;
	background-image: url(http://www.chattanoogaville.com/images/american-eagle-melanietipton-melanietiptonofficialwebsite-chattanoogaville-chattanoogavilleconservativetvshow-lloydmarcusarticles-conservativetelevision.jpg);
	background-size: 100%;
}

body {
	text-align: center;
	min-height: 100%;
	color: #000099;
	
}

h1 {
	text-align: center;
	color: #FF0000;
}